<!DOCTYPE html>
<html lang="en">
<head>
<style>
    .list-group-item {
        margin: 15px;
    }
    .img-responsive {
        width: 100%;
        height: auto;
    }
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ajay Aravindh</title>
<meta name="description" content="Personal page of Ajay Aravindh">
<meta name="author" content="Ajay Aravindh">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="static/css/nivo-lightbox/default.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="static/js/modernizr.custom.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1>AJAY ARAVINDH</h1>
          <hr>
          <p>Data Science • Backend Development • Open Source</p>
          <a href="#about" class="btn btn-default btn-lg page-scroll">Learn More</a> </div>
      </div>
    </div>
  </div>
</header>
<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="#about">About</a> </li>
          <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li>
          <li> <a class="page-scroll" href="#achievements">Achievements</a> </li>
          <li> <a class="page-scroll" href="#contact">Contact</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="static/img/003.jpg" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
          <p>I am Ajay Aravindh G, a <b>junior</b> in <b>B.Tech Information Technology</b> at <b>Thiagarajar College of Engineering</b>, Madurai. I am very passionate about the CS & IT domain and have always tried to learn using <b>MOOCs</b> and <b>side projects</b>.</p>
          <p><b>Programming Languages: </b>Python, C++, Java</p>
          <p><b>Frameworks & Tools: </b>Scikit-learn, Flask, Django, Pandas, Seaborn, Git</p>
          <a href="#portfolio" class="btn btn-default btn-lg page-scroll">My Portfolio</a> </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Portfolio</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li style="margin: 20px;"><a href="#" data-filter="*" class="active">All</a></li>
            <li style="margin: 20px;"><a href="#" data-filter=".graphic">Data Science</a></li>
            <li style="margin: 20px;"><a href="#" data-filter=".illustration">Web Dev</a></li>
            <li style="margin: 20px;"><a href="#" data-filter=".photography">Open Source</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 illustration">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://github.com/ajayaravindh/AirMadurai" title="AirMadurai | Django" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>AirMadurai | Django</h4>
              </div>
              <img src="static/img/portfolio/django.jpg" class="img-responsive" alt="AirMadurai | Django"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 graphic">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://github.com/ajayaravindh/Text-analysis---Lenovo" title="Flipkart product | Text Analysis" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Flipkart product | Text Analysis</h4>
              </div>
              <img src="static/img/portfolio/text-analysis.png" class="img-responsive" alt="Flipkart product | Text Analysis"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 illustration">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://github.com/ajayaravindh/Blog" title="Blog | Django" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Blog | Django</h4>
              </div>
              <img src="static/img/portfolio/blog.jpg" class="img-responsive" alt="Blog | Django"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 photography">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="https://github.com/ajayaravindh/Smvdu-Algos" title="SMVDU algos" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>SMVDU algos</h4>
              </div>
              <img src="static/img/portfolio/open_source.jpg" class="img-responsive" alt="SMVDU algos"> </a> </div>
          </div>
        </div>
              </div>
    </div>
  </div>
</div>


<!-- Achievements section -->
<div id="achievements">
    <div class="container">
        <div class="section-title center">
            <h2 style = "text-align: center;">Achievements</h2>
            <hr>
        </div>
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <b>Winner, Datathon</b> conducted as a part of Kurukshetra'18 by <b>CEG(Anna University)</b> with <b>participation from all over the state</b><br><br><span style="background-color: black; color: white;" >Data Science</span>
                </li>
                <li class="list-group-item">
                    <b>CGPA: 9.51 / 10.0</b> | Second rank | Till 4'th semester<br><br><span style="background-color: black; color: white;" >Academics</span>
                </li>
                <li class="list-group-item">
                    <b>Winner, Infinix programming competition'17</b>, a department-wide programming contest<br><br><span style="background-color: black; color: white;" >Competitve Programming</span> | <span style="background-color: black; color: white;" >Data Structures & Algorithms</span>
                </li>
                <li class="list-group-item">
                    <b>Winner, Infinix Hackathon'17</b> - Designed a food recommendation system<br><br><span style="background-color: black; color: white;" >Machine Learning</span>
                </li>
                <li class="list-group-item">
                     <b>Second place, Web Chrysalis</b>, conducted by ACM TCE-IT chapter, with participation predominantly from Southern Tamilnadu<br><br><span style="background-color: black; color: white;" >Web development</span>
                </li>
                <li class="list-group-item">
                     <b>Second place, Data Vision</b>, conducted by ACM TCE-IT chapter, with participation predominantly from Southern Tamilnadu<br><br><span style="background-color: black; color: white;" >Data Visualisation</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Get In Touch</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <form action = "/" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required" name = "name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" name = "mail" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default btn-lg">Send Message</button>
      </form>
      <div class="social">
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100011714616845"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/iamajayaravindh"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/ajayaravindh"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ajayaravindh/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Ajay Aravindh | ajayaravindh55@gmail.com</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="static/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="static/js/bootstrap.js"></script> 
<script type="text/javascript" src="static/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="static/js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="static/js/jquery.isotope.js"></script> 
<script type="text/javascript" src="static/js/jqBootstrapValidation.js"></script> 
<!--<script type="text/javascript" src="static/js/contact_me.js"></script> -->
<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>